@{
    ViewBag.Title = "Home Page";
}

<div class="main text-center">
    <img class="main-logo" src="~/Content/images/logo.jpg" />
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>